.profile {
  width: 100%;
  height: 100%;
}

.profile > main {
  display: flex;
  width: 100%;
  height: 90.5%;
}

.profile > main > main {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
  overflow: auto;
}

.dashboard--edit--labels {
  padding: 0.4rem 0.6rem !important;
}

.dashboard__edit__labels__list__item {
  padding: 0.3rem 0.6rem !important;
}

@media only screen and (max-width: 480px) {
  .profile > main > main {
    padding: 0 1rem;
  }
}
