.logo__f {
  color: rgb(75, 164, 199);
}

.logo__u {
  color: orangered;
}

.logo__n {
  color: rgb(247, 247, 18);
}

.logo__d {
  color: rgb(7, 101, 138);
}

.logo__o1 {
  color: rgb(15, 155, 15);
}

.logo__o2 {
  color: rgb(247, 13, 13);
}
