.profile {
  width: 100%;
  height: 100%;
}

.profile > main {
    display: flex;
    width: 100%;
    height: 90.5%;
}

.profile > main > main{
    display: flex;
    width: 80%;
    height: 100%;
}
